.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
*.txt
*.html
*.docx
HighstatLibV9.R
MCMCSupportHighstatV4.R
Tenan_et_al_suppl_Product_space.r
scrap.R
Examples_cache
Examples_files
.Rbuildignore
scratch.R
temp.R
MS
